.preto {
    background-color: black;
    grid-area: preto;
}
.vermelho {
    background-color: red;
    grid-area: vermelho;
}
.azul {

    background-color: blue;
    grid-area: azul;
}
.rosa {
    background-color: pink;
    grid-area: rosa;
}
.cinza {
    background-color: #333;
    grid-area: cinza;
}
.verde {
    background-color: green;
    grid-area: verde;
}
.site{
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-areas: 
        "rosa rosa rosa"
        "azul cinza verde"
        "azul cinza vermelho"
        "preto preto preto";
}